
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.single-post .article-footer {
    padding-left: 0px !important;
}
.aw-feed-list .aw-item .mod-head, .aw-feed-list .aw-item .mod-body, .aw-feed-list .aw-item .mod-footer {
    position: relative;
    width: 100%;
    padding-left: 50px;
}
.aw-feed-list {
    padding: 0 10px;
}
.aw-feed-list .aw-item {
    position: relative;
    padding: 14px 0;
    border-bottom: 1px solid #F5F5F5;
}
.aw-feed-list .aw-item .mod-head {
    z-index: 1;
}
.aw-feed-list .aw-item .aw-user-img {
    position: absolute;
    left: 0;
    top: 3px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.aw-border-radius-5{
	border-radius: 4px;
}
.aw-feed-list .aw-item .aw-user-img img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.aw-feed-list .aw-item h4, .aw-feed-list .aw-item p {
    margin: 0 !important;
}
.text-color-999{
	color: #999 !important;
	font-size: 12px !important;
}
.markitup-box {
    position: relative;
    z-index: 1;
    line-height: 180%;
    word-wrap: break-word!important;
}
.aw-feed-list .aw-item .mod-footer {
    position: relative;
    width: 100%;
    padding-left: 50px;
    min-height: 28px;
    line-height: 28px;
    margin-top: 10px;
    font-size: 12px;
}
.aw-feed-list .operate {
    display: inline-block;
    float: left;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.aw-feed-list .operate a.disabled {
    background-color: #fff;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
}
.aw-feed-list .operate a {
    float: left;
    height: 28px;
    padding: 0 10px;
    color: #999;
    line-height: 28px;
    text-decoration: none;
}
.aw-feed-list .meta i, .aw-question-detail .meta i {
    font-size: 16px;
    vertical-align: -2px;
}
.aw-feed-list .operate b {
    font-weight: 500;
}
.aw-feed-list .operate+.operate {
    margin-left: 5px;
}
.aw-feed-list .more-operate {
    display: none;
    line-height: 28px;
}
.aw-feed-list .more-operate .btn-group {
    margin-left: 15px;
}
.pull-left {
    float: left!important;
}
.aw-feed-list .more-operate .btn-group .dropdown-toggle {
    box-shadow: none;
}
.aw-dropdown.shareout {
    top: 100%;
    width: 130px;
}

.aw-dropdown.pull-right {
    left: auto;
    right: 0;
}
.aw-dropdown {
    display: none;
    position: absolute;
    left: 0;
    top: 105%;
    z-index: 9999;
    width: 100%;
    min-width: 110px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 5px 5px rgba(0,0,0,.1);
}
.aw-comment-box {
    position: relative;
    margin: 10px auto;
    border: 1px solid #e6e6e6;
    background-color: #fff;
}
.aw-comment-box .aw-comment-list {
    padding: 15px 15px 0;
    border-bottom: 1px solid #f2f2f2;
}
.aw-comment-list li>.aw-user-name {
    position: absolute;
    left: 0;
}
.aw-feed-list .aw-user-name {
    color: #666;
}
.aw-user-name, .aw-topic-name {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
}
.nav-tabs {
    border-bottom: 1px solid #dddddd;
}
