/*  icon */
.css3-icon {
  display: inline-block;
  width: 12px;
  height: 18px;
  position: relative;
  overflow: hidden;
}
.css3-icon.icon-dropdown:before {
  content:'';
  width:10px;
  height:10px;
  display:block;
  border:2px solid #a6a6a6;
  border-right-width:0;
  border-top-width:0;
  transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  position: absolute;
  top: 6px;
  left: 1px;
  -webkit-transition: all 0.218s ease-in-out;
  -o-transition: all 0.218s ease-in-out;
  transition: all 0.218s ease-in-out;
}
.css3-icon.icon-more {
  width: 14px;
  top: 6px;
  margin-left: 7px;
  -webkit-transition: all 0.218s ease-in-out;
  -o-transition: all 0.218s ease-in-out;
  transition: all 0.218s ease-in-out;
}
.css3-icon.icon-more:before {
  content:'';
  width:10px;
  height:10px;
  display:block;
  border:2px solid rgba(56,56,56,0.5);
  border-right-width:0;
  border-top-width:0;
  transform:rotate(-135deg);
  -webkit-transform:rotate(-135deg);
  -moz-transform:rotate(-135deg);
  -o-transform:rotate(-135deg);
  -ms-transform:rotate(-135deg);
  position: absolute;
  top: 3px;
  left: 1px;
  -webkit-transition: all 0.218s ease-in-out;
  -o-transition: all 0.218s ease-in-out;
  transition: all 0.218s ease-in-out;
}
