/* ==== Variables ==== */
/**
* Colors variables
*/
/* ==== Base ==== */
/* ==== Instances ==== */
/**
* Easing variables
* Chart: http://easings.net
* Scraped via Ceaser: http://matthewlein.com/ceaser
* Tip: elastic and bounce need use JS
*/
/**
* Layout & grid variables
*/
/**
* Misc variables
*/
/**
* Shadow variables
*/
/**
* Shadow variables
*/
/**
* Spacing variables
*/
/**
* Time variables
*/
/**
* Typography variables
*/
/* ==== Mixins ==== */
/**
* Params:
  - Size is the with of the arrow
  - Color is the color of the arrow (plain color required)
  - Direction is the orientation of the arrow (top, right, bottom, left)
  - Offset is the position of the arrow on its axis (px / em)
  - Border-size is the width of the border if there is one (optional; default "0")
  - Border-color is the color of the border if there is one (optional; default "inherit");
* Example:
  .box {
   .arrow(10px, @white, bottom, 50%, 1px, darken(@white, 10%));
  }
*/
.hack-webkit-render {
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
.shadow-z1 {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.shadow-z1h {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.shadow-z2 {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.shadow-z3 {
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.shadow-z4 {
  -webkit-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}
.shadow-z5 {
  -webkit-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}
.shadow-tb {
  -webkit-box-shadow: 0 7px 21px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 7px 21px rgba(0, 0, 0, 0.1);
  box-shadow: 0 7px 21px rgba(0, 0, 0, 0.1);
}
/* ==== Base ==== */
/*
* Some BS style can't use variable or mixin rewrite
* So need use 'reset' to override and init
* Table:
* - Base
* - Buttons
* - Forms
* - Jumbotron
* - Label
* - List group
* - Modal
* - Panel
* - Tooltips
* - Hidden Thunder
*/
/* ==== Base ====  */
html,
body {
  height: 100%;
}
html {
  font-size: 36px;
}
@media (max-width: 480px) {
  html {
    font-size: 24px;
  }
}
body {
  overflow-y: scroll;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
}
@media (max-width: 767px) {
  body {
    padding-top: 50px;
  }
}
body > a > img {
  display: none;
}
.site-main {
  min-height: 50%;
}
/* ==== Buttons ====  */
.btn {
  position: relative;
  padding: 8px 24px;
  -webkit-transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:focus,
.btn.btn-link:hover,
.btn.btn-link:focus {
  text-decoration: none;
  outline: 0 !important;
}
.btn.btn-raised {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.btn.btn-raised:hover {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn.btn-default {
  color: #4d4d4d;
  border-color: #c2c2c2;
}
.btn.btn-default:hover {
  background-color: #ededed;
}
.btn.btn-sm {
  line-height: 20px;
  padding: 4px 12px;
  font-size: 14px;
}
.btn.btn-lg {
  padding: 14px 26px;
  font-size: 18px;
}
.btn.without-shadow,
.dropdown-menu .btn:hover {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.handler-wrap .btn,
.modal-footer .btn {
  min-width: 100px;
}
.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-left: 0;
}
.btn-group.open > .btn-primary:first-child:not(.dropdown-toggle) {
  border-right-color: transparent;
}
.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-group > .btn-primary:first-child:not(.dropdown-toggle) {
  border-right: 1px solid #039fe5;
}
/* ==== Forms ====  */
.form-group {
  line-height: 30px;
  margin-bottom: 30px;
}
.form-group.pair-form {
  padding: 0;
}
.validate-error {
  border-color: #e51c23 !important;
}
.form-control,
.form-control:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.form-label {
  padding: 10px 0;
  font-size: 18px;
  font-weight: normal;
  text-align: left;
  color: #808080;
}
.form-label.second-label {
  padding-left: 70px;
}
.form-input {
  color: #999;
}
.full-input {
  width: 100%;
  height: 48px;
  padding: 8px;
  border: 1px solid #eee;
  border-radius: 3px;
  -webkit-transition: border 218ms;
  -o-transition: border 218ms;
  transition: border 218ms;
}
.full-input:focus {
  border: 1px solid #a6a6a6;
}
.form-input textarea {
  resize: none;
  height: 180px;
}
.form-input input,
.form-input textarea {
  padding: 8px;
  border: 1px solid #eee;
  border-radius: 4px;
  outline: 0 none;
}
select {
  width: 100%;
  height: 48px;
  padding: 10px;
  outline: none;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
}
[contenteditable]:focus {
  outline: 0px solid transparent;
}
/* ==== Jumbotron ====  */
@media (min-width: 768px) {
  .jumbotron h1 {
    font-size: 48px;
  }
}
/* ==== Label ====  */
.label {
  font-weight: normal;
}
/* ==== List groups ====  */
ul {
  padding-left: 0;
  list-style: none;
}
.list-group-item {
  padding: 16px 4px;
  border-width: 1px 0;
}
/* ==== Modal ====  */
@media (min-width: 768px) {
  .modal-dialog:not(.default-margin) {
    margin: 100px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  }
}
.modal-backdrop {
  position: fixed;
  bottom: 0;
}
.modal-close {
  font-size: 18px;
}
.modal-content {
  border: none;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.modal-content > [class*="modal-"] {
  padding: 24px;
}
.modal-content .modal-header {
  padding-bottom: 0;
  border-bottom: none;
}
.modal-content .modal-header .modal-title .icon {
  margin-right: 12px;
  color: #03a9f4;
}
.modal-content .modal-body {
  padding-bottom: 20px;
}
.modal-content .modal-footer {
  padding-top: 0;
  border-top: none;
}
/* ==== Panels ====  */
.panel {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.panel,
.panel.panel-default > .panel-heading {
  border-width: 0;
}
.panel.panel-default > .panel-heading {
  margin-bottom: 8px;
}
.panel .panel-body .list-group {
  margin-bottom: 0;
}
/* ==== Tooltips ====  */
.tooltip-inner {
  min-width: 40px;
}
/* ==== Hidden Thunder ====  */
[id*="xunlei_com_thunder"] {
  display: none;
}
.light-blue {
  color: #03a9f4;
}
.black {
  color: #000000;
}
.grey22,
.darker-grey {
  color: #383838;
}
.grey50,
.dark-grey {
  color: #808080;
}
.grey65,
.grey,
.muted {
  color: #a6a6a6;
}
.grey85,
.light-grey {
  color: #d9d9d9;
}
.grey93,
.lighter-grey {
  color: #ededed;
}
.white {
  color: #ffffff;
}
a.icon {
  color: #a6a6a6;
  -webkit-transition: color 218ms ease;
  -o-transition: color 218ms ease;
  transition: color 218ms ease;
}
a.icon:hover {
  color: #03a9f4;
}
a.icon.white {
  -webkit-transition: text-shadow 218ms ease;
  -o-transition: text-shadow 218ms ease;
  transition: text-shadow 218ms ease;
}
a.icon.white:hover {
  color: #ffffff;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.7);
}
.icon.float {
  float: left;
}
.icon-wrap {
  line-height: 20px;
}
.icon-wrap .icon {
  float: left;
  font-size: 14px;
}
/* ==== X-large sceen >= 1310(xl-min) ==== */
/*
* Lib variables for override bootstrap
* Table:
* - Base
* - Badges
* - Container sizes
* - Icon font
* - Forms
* - Grid
* - Jumbotron
* - List group
* - Modal
* - Navbar
* - Panel
* - Scaffolding
* - Typography
*/
/* ==== Base ====  */
/* ==== Badges ==== */
/* ==== Container sizes ==== */
/* ==== Icon font ==== */
/* ==== Forms ==== */
/* ==== Grid ==== */
/* ==== Jumbotron ==== */
/* ==== List group ==== */
/* ==== Modal ==== */
/* ==== Navbar ==== */
/* ==== Scaffolding ==== */
/* ==== Typography ==== */
@media (min-width: 1310px) {
  .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    float: left;
  }
  .col-xl-12 {
    width: 100%;
  }
  .col-xl-11 {
    width: 91.66666667%;
  }
  .col-xl-10 {
    width: 83.33333333%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-8 {
    width: 66.66666667%;
  }
  .col-xl-7 {
    width: 58.33333333%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-5 {
    width: 41.66666667%;
  }
  .col-xl-4 {
    width: 33.33333333%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-2 {
    width: 16.66666667%;
  }
  .col-xl-1 {
    width: 8.33333333%;
  }
  .col-xl-pull-12 {
    right: 100%;
  }
  .col-xl-pull-11 {
    right: 91.66666667%;
  }
  .col-xl-pull-10 {
    right: 83.33333333%;
  }
  .col-xl-pull-9 {
    right: 75%;
  }
  .col-xl-pull-8 {
    right: 66.66666667%;
  }
  .col-xl-pull-7 {
    right: 58.33333333%;
  }
  .col-xl-pull-6 {
    right: 50%;
  }
  .col-xl-pull-5 {
    right: 41.66666667%;
  }
  .col-xl-pull-4 {
    right: 33.33333333%;
  }
  .col-xl-pull-3 {
    right: 25%;
  }
  .col-xl-pull-2 {
    right: 16.66666667%;
  }
  .col-xl-pull-1 {
    right: 8.33333333%;
  }
  .col-xl-pull-0 {
    right: auto;
  }
  .col-xl-push-12 {
    left: 100%;
  }
  .col-xl-push-11 {
    left: 91.66666667%;
  }
  .col-xl-push-10 {
    left: 83.33333333%;
  }
  .col-xl-push-9 {
    left: 75%;
  }
  .col-xl-push-8 {
    left: 66.66666667%;
  }
  .col-xl-push-7 {
    left: 58.33333333%;
  }
  .col-xl-push-6 {
    left: 50%;
  }
  .col-xl-push-5 {
    left: 41.66666667%;
  }
  .col-xl-push-4 {
    left: 33.33333333%;
  }
  .col-xl-push-3 {
    left: 25%;
  }
  .col-xl-push-2 {
    left: 16.66666667%;
  }
  .col-xl-push-1 {
    left: 8.33333333%;
  }
  .col-xl-push-0 {
    left: auto;
  }
  .col-xl-offset-12 {
    margin-left: 100%;
  }
  .col-xl-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-xl-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-xl-offset-9 {
    margin-left: 75%;
  }
  .col-xl-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-xl-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-xl-offset-6 {
    margin-left: 50%;
  }
  .col-xl-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-xl-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-xl-offset-3 {
    margin-left: 25%;
  }
  .col-xl-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-xl-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-xl-offset-0 {
    margin-left: 0%;
  }
}
/* ==== Large srceen >= 1200(lg-min) ==== */
/* ==== Middel screen <= 1199(md-max) and >= 992(md-min) ==== */
.max1040 {
  max-width: 1040px;
}
.max1010 {
  max-width: 1010px;
}
/* ==== Small screen <= 991(sm-max) and >= 768(sm-min)==== */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 100%;
  }
}
/* ====  X-Small screen <= 767(xs-max) ==== */
a {
  color: #03a9f4;
  cursor: pointer;
  -webkit-transition: color 218ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: color 218ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: color 218ms cubic-bezier(0.42, 0, 0.58, 1);
}
a:hover,
a:focus {
  text-decoration: none;
  color: #1eb7fc;
}
a.block {
  display: block;
}
a.white {
  color: #ffffff;
  -webkit-transition: text-shadow 218ms;
  -o-transition: text-shadow 218ms;
  transition: text-shadow 218ms;
}
a.white:hover {
  -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5), 0 0 3px rgba(255, 255, 255, 0.7);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5), 0 0 3px rgba(255, 255, 255, 0.7);
}
a.underline {
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
  padding: 0 7px;
}
a.underline:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(52, 73, 94, 0.4);
  -webkit-transform: translateY(95%);
  -moz-transform: translateY(95%);
  -o-transform: translateY(95%);
  -ms-transform: translateY(95%);
  transform: translateY(95%);
  -webkit-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}
a.underline:hover:before,
a.underline.hover:before {
  border-radius: 2px;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}
a.blue-reverse {
  color: #47c4fd;
}
a.blue-reverse:hover {
  color: #03a9f4;
}
a.red {
  color: #e51c23;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
a.red:hover {
  color: #d0181e;
}
a.gray {
  color: #a6a6a6;
}
a.gray-dark {
  color: #808080;
}
a.gray:hover,
a.gray-dark:hover {
  color: #0286c2 !important;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
[class*="hover-"] {
  -webkit-transition: all 218ms cubic-bezier(0.42, 0, 0.58, 1) !important;
  -o-transition: all 218ms cubic-bezier(0.42, 0, 0.58, 1) !important;
  transition: all 218ms cubic-bezier(0.42, 0, 0.58, 1) !important;
}
.hover-blue:hover {
  color: #03a9f4 !important;
}
.hover-opacity:hover {
  opacity: 0.85;
  filter: alpha(opacity=85);
}
.hover-opacity:hover .ripple {
  background: #ffffff !important;
}
.hover-shadow:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
@media (min-width: 768px) {
  .hover-brackets {
    position: relative;
    display: inline-block;
  }
  .hover-brackets:before,
  .hover-brackets:after {
    position: absolute;
    top: -0.1em;
    opacity: 0;
    -webkit-transition: opacity 218ms, -webkit-transform 300ms;
    transition: opacity 218ms, transform 300ms;
  }
  .hover-brackets:before {
    content: '[';
    left: -0.8em;
    -webkit-transform: translate(1em, 0);
    -ms-transform: translate(1em, 0);
    -o-transform: translate(1em, 0);
    transform: translate(1em, 0);
  }
  .hover-brackets:after {
    content: ']';
    right: -0.8em;
    -webkit-transform: translate(-1em, 0);
    -ms-transform: translate(-1em, 0);
    -o-transform: translate(-1em, 0);
    transform: translate(-1em, 0);
  }
  .hover-brackets:hover:before,
  .hover-brackets:hover:after {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
/**
* Include b-type form houkanshan
* List:
* >> Define fonts
* >> Typography: readable as namespace
* |- Paragraph & Text
* |- Title
* |- List
* |- Image
* |- Table
* |- Blockquote
* |- Code
* |- Line
*/
/* ==== Define fonts ==== */
/* ==== Typography ==== */
.readable-font,
.readable {
  font: 18px/1.5 "Helvetica Neue", Helvetica, "Lucida Grande", "Luxi Sans", Arial, "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Micro Hei Mono", "WenQuanYi Zen Hei", "WenQuanYi Zen Hei Mono", LiGothicMed;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.8);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.readable {
  /* ==== Responsive ==== */
}
.readable p,
.readable pre,
.readable ul,
.readable ol,
.readable li,
.readable blockquote,
.readable table {
  margin-bottom: 1em;
}
.readable p {
  line-height: 2;
}
.readable i,
.readable em {
  font-style: normal;
  margin: 0 0.23em;
}
.readable h1,
.readable h2,
.readable h3,
.readable h4,
.readable h5,
.readable h6 {
  margin-bottom: 0.23em;
  margin-top: 1.23em;
  line-height: 2;
  font-family: "Lucida Grande", "Luxi Sans", Arial, "Helvetica Neue", Helvetica, "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Micro Hei Mono", "WenQuanYi Zen Hei", "WenQuanYi Zen Hei Mono", LiGothicMed;
  font-weight: 500;
}
.readable h1,
.readable h2 {
  margin-top: 1em;
  font-size: 30px;
}
.readable h3,
.readable h4,
.readable h5,
.readable h6 {
  font-size: 24px;
}
.readable ul {
  list-style: circle;
}
.readable ol {
  list-style: decimal;
}
.readable ul,
.readable ol {
  list-style-position: outside;
  margin-left: 2em;
}
.readable img {
  max-width: 700px;
  display: block;
  margin: 0 auto;
}
.readable img + span {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
}
.readable .table th {
  white-space: nowrap;
}
.readable a.reg {
  display: block;
  margin: 0 auto;
  width: 290px;
}
@media (max-width: 480px) {
  .readable a.reg {
    width: 270px;
  }
}
.readable blockquote {
  padding: 0 0 0 0.75em;
  margin: 0 0 1em;
  border-left: 3px solid #d9d9d9;
}
.readable pre {
  padding: 0.8em 1.2em !important;
  border: none;
  background: #f5f5f5;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
}
.readable pre + h1,
.readable pre + h2,
.readable pre + h3,
.readable pre + h4,
.readable pre + h5,
.readable pre + h6 {
  margin-top: 0;
}
.readable code {
  margin: 0 0.23em;
  font-family: Consolas, "Liberation Mono", "BitStream Vera Sans Mono", Courier, monospace;
}
.readable hr {
  height: 1px;
  margin: 30px auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}
@media (max-width: 768px) {
  .readable p > img,
  .readable img {
    width: 100%;
  }
}
.no-gutter {
  padding-left: 0;
  padding-right: 0;
}
.no-gutter-left {
  padding-left: 0;
}
.no-gutter-right {
  padding-right: 0;
}
.group:not(:last-child) {
  margin-bottom: 16px;
}
.is-bfc {
  overflow: hidden;
}
.is-hidden {
  display: none !important;
  visibility: hidden !important;
}
.is-show {
  display: block !important;
  visibility: visible !important;
}
.is-opacity {
  opacity: 0;
  filter: alpha(opacity=0);
}
/* ==== Effects ==== */
.animated {
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  -o-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.animated.slideDown {
  -webkit-animation-name: slideDown;
  -moz-animation-name: slideDown;
  -o-animation-name: slideDown;
  animation-name: slideDown;
}
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
.animated.slideUp {
  -webkit-animation-name: slideUp;
  -moz-animation-name: slideUp;
  -o-animation-name: slideUp;
  animation-name: slideUp;
}
@-webkit-keyframes bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
@-webkit-keyframes fades {
  0%,
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  50% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
@keyframes fades {
  0%,
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  50% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
@-webkit-keyframes tinyScale {
  to {
    -webkit-transform: scale(1.07, 1.07) translate3d(-28px, -28px, 0);
  }
}
@keyframes tinyScale {
  to {
    transform: scale(1.07, 1.07) translate3d(-28px, -28px, 0);
  }
}

/* ==== UIs ==== */
.dropdown-menu {
  min-width: 170px;
  border: 0 none;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-box-shadow: 0 7px 21px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 7px 21px rgba(0, 0, 0, 0.1);
  box-shadow: 0 7px 21px rgba(0, 0, 0, 0.1);
}
.dropdown-menu li > a {
  display: block;
  padding: 5px 35px 5px 15px;
  clear: both;
  line-height: 24px;
  color: #808080;
  outline: 0 none;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dropdown-menu li > a .avatar,
.dropdown-menu li > a .icon {
  width: 24px;
  height: 24px;
  float: left;
  margin-left: -2px;
  margin-right: 10px;
  text-align: center;
  background-size: 24px 24px;
  font-size: 18px;
  line-height: 24px;
}
.dropdown-menu li > a i {
  margin-left: 2px;
  margin-right: 8px;
}
.dropdown-menu li.selected {
  position: relative;
}
.dropdown-menu li.selected:after {
  position: absolute;
  top: 8px;
  right: 15px;
  content: '\a037';
  display: block;
  width: 14px;
  height: 14px;
  font-family: 'Teambition-UI-Icons';
  color: #a6a6a6;
}
.dropdown-menu li.divider {
  margin: 5px 15px;
  background-color: rgba(0, 0, 0, 0.07);
}
.dropdown-menu a.ui-state-focus {
  background-color: #f1f1f1;
}
.open > .dropdown-menu {
  display: block;
  overflow: auto;
  opacity: 0.99;
  filter: alpha(opacity=99);
}
.list-underscore .underscore {
  position: relative;
}
.list-underscore .underscore:before {
  display: inline-block;
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  margin: 0 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.07);
  content: '';
}
.list-underscore > li:hover + li:before,
.list-underscore .underscore:hover:before {
  border-color: transparent;
}
.essage {
  position: fixed;
  _position: absolute;
  z-index: 10010;
  top: -200px;
  left: 50%;
  max-width: 600px;
  line-height: 22px;
  padding: 20px;
  padding-top: 23px;
  padding-left: 53px;
  margin-left: -150px;
  background: #ffffff;
  border: 1px solid #f7f7f7;
  border-radius: 2px;
  font-size: 15px;
  -webkit-box-shadow: 0 7px 21px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 7px 21px rgba(0, 0, 0, 0.1);
  box-shadow: 0 7px 21px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: top 600ms cubic-bezier(0.25, 0.1, 0.25, 1);
  -o-transition: top 600ms cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: top 600ms cubic-bezier(0.25, 0.1, 0.25, 1);
}
.essage.is-active {
  top: 52px;
  -webkit-transition: top 700ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: top 700ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: top 700ms cubic-bezier(0.42, 0, 0.58, 1);
}
.essage .essage-tips {
  color: #000000;
}
.essage .essage-url {
  color: #03a9f4;
  -webkit-transition: color 218ms ease;
  -o-transition: color 218ms ease;
  transition: color 218ms ease;
}
.essage .essage-url:hover {
  color: #0286c2;
}
.essage .icon {
  position: absolute;
  top: 22px;
  left: 20px;
  font-size: 24px;
}
.essage.essage-success .icon {
  color: #8bc34a;
}
.essage.essage-error .icon {
  color: #dc584b;
}
.essage.essage-info .icon {
  color: #03a9f4;
}
.essage.essage-warning .icon {
  color: #c09853;
}
.essage .close {
  line-height: 18px;
  margin-left: 10px;
}
body.open-modal {
  overflow: hidden;
}
body.open-modal .modal-window {
  display: block;
}
.modal-window {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-window .modal-back {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal-window .modal-card {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 500px;
  height: auto;
  margin-top: -200px;
  margin-left: -250px;
  padding: 0 20px;
  background-color: #FFFFFF;
  border-radius: 3px;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.modal-window .modal-card h3 {
  font-size: 18px;
  padding-bottom: 20px;
  border-bottom: 1px solid #DDDDDD;
}
.modal-window .modal-card .close-handler {
  position: absolute;
  top: 8px;
  right: 20px;
  font-size: 28px;
  color: #808080;
  cursor: pointer;
}
.modal-window .modal-card .close-handler:hover {
  color: #808080;
}
.modal-window .modal-card .modal-desc {
  margin-top: 15px;
  font-size: 16px;
}
.modal-window .modal-card .modal-footer-hint {
  text-align: center;
  font-size: 14px;
  color: #808080;
  margin-bottom: 20px;
}
.modal-window .modal-card .modal-form {
  padding: 10px 0 20px;
}
.modal-window .modal-card .modal-form .form-group {
  margin-bottom: 20px;
}
.modal-window .modal-card .modal-form .form-input {
  padding-right: 0;
}
.modal-window .modal-card .modal-form .form-label {
  padding: 0;
  margin-top: 3px;
  margin-bottom: 0;
  font-size: 16px;
  color: #808080;
}
.modal-window .modal-card .modal-form .full-input {
  height: 40px;
  border: 1px solid #DDDDDD;
}
.modal-window .modal-card .modal-form .button-wrapper .btn {
  height: 40px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
  line-height: 25px;
}
.modal-window .modal-card .modal-form .button-wrapper .btn.btn-link {
  text-decoration: none;
  color: #808080;
}
@media (max-width: 480px) {
  .modal-window .modal-back {
    min-height: 450px;
  }
  .modal-window .modal-card {
    top: 0;
    width: 300px;
    margin: 50px 0;
    margin-left: -150px;
  }
}
